.dealersearch {
  margin-top: 20px;
}
.dealersearch .ds-text p {
  margin: 0 auto;
  text-align: center;
  width: 158px;
  height: 31px;
  font-size: 16px;
  font-family: MicrosoftYaHeiLight;
  color: #333333;
  line-height: 22px;
}
.dealersearch .info {
  border: solid 1px silver;
}
.dealersearch .info .info-top {
  position: relative;
  padding-left: 10px;
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}
.dealersearch .info .info-top img {
  position: absolute;
  top: 5px;
  right: 10px;
  transition-duration: 0.25s;
}
.dealersearch .info .info-middle {
  font-size: 12px;
  padding: 6px;
  line-height: 20px;
}
.dealersearch .info .info-bottom {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
}
.dealersearch .info .info-bottom img {
  display: inline !important;
}
.dealersearch .ds-distpicker {
  margin: 0 auto;
  text-align: center;
}
.dealersearch .ds-distpicker select {
  width: 115px;
  height: 30px;
}
.dealersearch .ds-distpicker .city-text {
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
  line-height: 30px;
}
.dealersearch .ds-container {
  margin: 15px auto 20px;
  width: 805px;
  height: 452px;
  position: relative;
}
.dealersearch .ds-container .container {
  width: 555px;
  height: 100%;
}
.dealersearch .ds-container .c-wrap {
  width: 248px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow-y: auto;
}
.dealersearch .ds-container .c-wrap .p-title {
  line-height: 22px;
  text-align: left;
  color: #b0b0b0;
}
.dealersearch .ds-container .c-wrap .c-item {
  width: 100%;
  height: 120px;
  line-height: 24px;
  border-bottom: 1px solid #cccc;
}
.dealersearch .ds-container .c-wrap .c-item .title {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.dealersearch .ds-container .c-wrap .c-item .distance {
  text-align: right;
  color: #b0b0b0;
}
.dealersearch .ds-container .c-wrap .c-item .distance span {
  font-weight: 500;
  color: #333333;
}
.dealersearch .ds-container .c-wrap .c-item .address {
  font-size: 12px;
  color: #b0b0b0;
}
.dealersearch .ds-container .c-wrap .c-item a {
  font-size: 12px;
  color: #6f86d6;
}
