.company-box {
  margin: 30px auto;
}
.company-box .company-hd {
  margin: 10px 0;
}
.company-box .company-hd h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.company-box .company-bd img {
  max-width: 100%;
}
.company-box .company-bd p.txt {
  line-height: 40px;
  text-indent: 2em;
  font-size: 14px;
  color: #999;
  margin: 10px 0;
}
