.company-box {
  margin: 30px auto;
}
.company-box .company-hd h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.company-box .company-bd img {
  max-width: 100%;
}
.stepBox {
  width: 100%;
  position: relative;
  float: left;
}
.stepBox .stepline {
  width: 100%;
  height: 2px;
  overflow: hidden;
  background: #C8C8CE;
  margin-top: 80px;
  float: left;
}
.stepBox .ative {
  color: #6F86D6;
}
.stepBox .ative .stepicon {
  background: #6F86D6!important;
  color: #fff;
  border: #6F86D6 1px solid !important;
}
.stepBox .step {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
.stepBox .step .stepblock {
  width: 100px;
  background: #fff;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 20px;
}
.stepBox .step .stepicon {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  line-height: 30px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
  border: #C8C8CE 1px solid;
  margin-bottom: 10px;
}
.stepBox .stepnum {
  float: left;
  width: 100%;
}
.orderBox-hd ul {
  float: left;
  width: 100%;
}
.orderBox-hd ul li {
  float: left;
  line-height: 60px;
}
.orderBox-hd .w70 {
  width: 70%;
}
.orderBox-hd .w10 {
  width: 10%;
  text-align: center;
}
.itemBox {
  border: #ddd 1px solid;
  float: left;
  width: 100%;
}
.itemBox .itemBox-hd {
  background: #eee;
  height: 40px;
  line-height: 40px;
  border-bottom: #ddd 1px solid;
}
.itemBox .itemBox-hd div {
  padding-left: 20px;
}
.itemBox .itemBox-bd {
  float: left;
  width: 100%;
}
.itemBox .itemBox-bd ul {
  float: left;
  width: 100%;
}
.itemBox .itemBox-bd ul li {
  float: left;
  line-height: 60px;
}
.itemBox .itemBox-bd .itemimg img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
}
.itemBox .itemBox-bd .w70 {
  width: 70%;
}
.itemBox .itemBox-bd .w10 {
  width: 10%;
  text-align: center;
}
.order-price {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.order-price .order-info {
  float: right;
  width: 300px;
  border: #6F86D6 1px solid;
  background: #F3F3F3;
}
.order-price .order-info ul li {
  float: left;
  width: 100%;
  line-height: 35px;
}
.order-price .order-info ul li label {
  float: left;
  width: 150px;
  text-align: right;
}
.order-price .order-Btn {
  float: right;
}
.order-price .order-Btn input {
  width: 200PX;
  height: 60PX;
  line-height: 60PX;
  background: #6F86D6;
  border: #6F86D6 1px solid;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.item-title {
  padding-top: 10px;
}
.item-title p {
  line-height: 30px;
}
