html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.no-btn {
  cursor: Default;
}
a {
  cursor: pointer;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.header-layout {
  background: #fff;
}
.gray {
  color: #999;
}
.red {
  color: #f30;
}
.bule {
  color: #06c;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.f20 {
  font-size: 20px;
}
.colororg {
  color: #f90;
}
.w300 {
  width: 300px;
}
.w280 {
  width: 280px;
}
.w250 {
  width: 250px;
}
.w150 {
  width: 150px;
}
.w120 {
  width: 120px;
}
.w80 {
  width: 80px;
}
.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.ml80 {
  margin-left: 80px;
}
.ml100 {
  margin-left: 100px;
}
.textalign {
  text-align: center;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.btn-max {
  padding: 10px 20px;
}
.btn-gree {
  background: #6F86D6;
  border-radius: 2px;
  border-color: #6F86D6;
  color: #fff;
}
.btn-gree:hover {
  color: #fff;
}
.btn-warning {
  color: #f2f2f2;
  background-color: #f29100;
  border-color: #f29100;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ffad33;
  border-color: #ffad33;
}
.btn-warning:active {
  color: #f2f2f2;
  background-color: #f29100;
  border-color: #f29100;
}
.btn-error {
  color: #fff;
  background-color: #f30;
  border-color: #f30;
}
.btn-error:hover {
  color: #fff;
  background-color: #f40;
  border-color: #f40;
}
.btn-error:active {
  color: #fff;
  background-color: #f20;
  border-color: #f20;
}
.btn-primary {
  color: #f2f2f2;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
}
.btn-primary:hover {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.btn-primary:active {
  color: #f2f2f2;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.btn-large {
  padding: 6px 15px 7px;
  font-size: 14px;
  border-radius: 4px;
}
.gray {
  color: #999;
}
.no-btn {
  background: #666!important;
  color: #fff!important;
}
.none {
  display: none;
}
.inputtxt {
  border: #ddd 1px solid;
  height: 35px;
  line-height: 35px;
}
.henggang {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}
/*****头部*****/
.payheader {
  float: left;
  width: 100%;
  min-height: 100px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(202, 209, 218, 0.8);
  box-shadow: 0 2px 2px rgba(202, 209, 218, 0.8);
  position: relative;
}
.payheader .payheader-info {
  height: 30px;
  line-height: 30px;
  padding: 30px 0;
}
.carIDbox {
  float: left;
  width: 100%;
}
.uploadbox {
  background: transparent;
  position: relative;
}
.uploadbox input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10000;
}
.uploadbox .uploaditemimg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.uploadbox .uploaditemimg img {
  width: 105px;
  height: 100%;
}
.uploadbox .preview-upload-button {
  width: 105px;
  height: 75px;
  background-color: #fafafa;
  border: 1px dashed rgba(222, 222, 222, 0.8);
  border-radius: 2px;
}
.uploadbox .preview-upload-button i {
  display: block;
  font-size: 16px;
  color: #a5a5a5;
  margin-top: 15px;
  margin-bottom: 5px;
  background: url(../../img/add.png) center no-repeat;
  height: 30px;
}
.uploadbox .preview-upload-button div {
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
.uploadbox .preview-upload-button:hover {
  border-color: #108ee9;
}
/******遮罩层*******/
.my-mask {
  position: fixed;
  _position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  *background: #000;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
#J_tip {
  padding: 20px;
  background: #F32043;
  position: fixed;
  _position: absolute;
  left: 48%;
  top: 50%;
  z-index: 10010;
  border-radius: 2px;
  color: #fff;
}
.minheader {
  width: 100%;
  background: #fff;
  height: 70px;
}
.minheader .minheader-hd {
  width: 1200px;
  margin: 0 auto;
}
.minheader .minheader-hd .header-logo {
  line-height: 70px;
}
.minheader .minheader-hd .header-logo a {
  background: url("/img/logo.png") center no-repeat;
  background-size: auto 50px;
  width: 260px;
  height: 70px;
  float: left;
}
.minheader .minheader-hd .header-text {
  line-height: 70px;
  font-size: 16px;
  color: #06c;
}
.payheader {
  width: 100%;
  background: #fff;
  height: 70px;
}
.payheader .payheader-hd {
  width: 1200px;
  margin: 0 auto;
}
.payheader .payheader-hd .header-logo {
  line-height: 70px;
}
.payheader .payheader-hd .header-logo a {
  background: url("/img/logo.png") center no-repeat;
  background-size: auto 50px;
  width: 260px;
  height: 70px;
  float: left;
}
.payheader .payheader-hd .header-text {
  line-height: 70px;
  font-size: 16px;
  color: #06c;
}
/************select*************/
.pc-select {
  width: 170px;
  height: 30px;
  line-height: 1.5;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  color: #333;
  font-size: 14px;
  padding: 4px 35px 4px 10px;
  padding-right: 4px\9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none\9;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  background: url(../../img/select.png) right center no-repeat #fff;
}
/******头部*******/
.sitenavbox {
  height: 45px;
  border-bottom: #ddd 1px solid;
}
.sitenavbox .sitenav-left a {
  color: #666;
  font-size: 14px;
  line-height: 45px;
  padding-right: 15px;
}
.sitenavbox .sitenav-right a {
  color: #666;
  font-size: 14px;
  line-height: 45px;
  padding-right: 15px;
}
.sitenavbox a:hover {
  color: #06c;
}
.header-city {
  margin-top: 30px;
  position: relative;
  margin-left: 20px;
}
.citytab {
  cursor: pointer;
}
.citytab i {
  background: url("../../img/dic.png") center no-repeat;
  width: 20px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.citybox {
  position: absolute;
  top: 30px;
  left: 0;
  width: 320px;
  background: #fff;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 2px rgba(0, 21, 41, 0.08);
  box-shadow: 0 2px 2px rgba(0, 21, 41, 0.08);
}
.citybox .citylist {
  padding: 10px 0 10px 20px;
}
.citybox .citylist a {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  background: #06c;
  color: #333;
  text-align: center;
  background: #eee;
  margin-right: 10px;
  margin-bottom: 15px;
}
.citybox .citylist a:hover {
  background: #6f86d6;
  color: #fff;
}
.citybox .citycode {
  text-align: center;
  padding: 10px 0;
}
.citybox .citycode p {
  padding-bottom: 10px;
}
.header-hd {
  padding: 20px 0;
}
.header-hd .header-logo a {
  background: url("../../img/logo.png") center no-repeat;
  display: inline-block;
  width: 267px;
  height: 64px;
}
.searchbox {
  width: 370px;
}
.searchbox .inputtxt {
  border: #6F86D6 1px solid;
  height: 38px;
  line-height: 38px;
  text-align: left;
  color: #999;
  width: 288px;
  float: left;
}
.searchbox .inputbutton {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  background: #6F86D6;
  border: none;
  color: #fff;
  cursor: pointer;
}
.header-right {
  float: right;
}
.header-right a {
  line-height: 38px;
  padding: 0 25px;
  color: #999;
}
.header-navbox {
  position: relative;
  z-index: 100;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 21, 41, 0.08);
  box-shadow: 0 2px 2px rgba(0, 21, 41, 0.08);
}
.header-navbox ul {
  height: 100px;
  background: #fff;
}
.header-navbox ul li {
  float: left;
  display: inline-block;
  line-height: 100px;
}
.header-navbox ul li a {
  display: inline-block;
  line-height: 60px;
  padding: 0 20px;
  margin-top: 30px;
  font-size: 18px;
}
.header-navbox ul li a:hover {
  color: #06c;
}
/******顶部*******/
#footerbox {
  float: left;
  width: 100%;
  background: #414141;
  text-align: center;
  color: #fff;
}
#footerbox .footer-hd {
  float: left;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: #606060 1px solid;
}
#footerbox .footer-hd .footerlogo {
  width: 267px;
  height: 64px;
  background: url(/img/footer_logo.png) center center no-repeat;
  float: left;
}
#footerbox .footer-hd .footer-l {
  float: left;
}
#footerbox .footer-hd .footer-l .footer_txt1 {
  font-size: 30px;
  color: #fff;
}
#footerbox .footer-hd .footer-l .footer_txt2 {
  font-size: 13px;
  color: #999;
}
#footerbox .footer-hd .footer-l dl {
  float: left;
  width: 100px;
  padding: 0 70px 0 0;
  text-align: left;
}
#footerbox .footer-hd .footer-l dl dt {
  font-size: 16px;
  color: #fff;
  padding-bottom: 25px;
}
#footerbox .footer-hd .footer-l dl dd a {
  font-size: 12px;
}
#footerbox .footer-hd .footer-l dl:last-child {
  width: 220px;
  padding: 0 0 0 110px;
}
#footerbox .footer-hd .footer-r {
  float: right;
}
#footerbox .footer-hd .footer-r ul li {
  float: left;
  margin-right: 30px;
}
#footerbox .footer-hd .footer-r ul li img {
  border-radius: 5px;
}
#footerbox .footer-hd .footer-r ul li p {
  text-align: center;
  padding: 10px 0;
}
#footerbox .footer-about {
  float: left;
  width: 100%;
  padding: 15px 0;
  color: #ddd;
}
#footerbox .footer-about a {
  color: #ddd;
}
#footerbox .footer-address {
  color: #B5B5B5;
  padding-bottom: 10px;
  text-align: center;
}
/****浮动******/
#J_fixed_top {
  *position: absolute;
  position: fixed;
  width: 75px;
  bottom: 100px;
  right: 20px;
  background-color: transparent;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
#J_fixed_top .fxicon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
#J_fixed_top .appicon {
  background: url('../../img/app.png') center no-repeat;
}
#J_fixed_top .weixinicon {
  background: url('../../img/weixin.png') center no-repeat;
}
#J_fixed_top .severicon {
  background: url('../../img/sever.png') center no-repeat;
}
#J_fixed_top .topicon {
  background: url('../../img/top.png') center no-repeat;
}
#J_fixed_top .ative .appicon {
  background: url('../../img/apphover.png') center no-repeat;
}
#J_fixed_top .ative .weixinicon {
  background: url('../../img/weixinhover.png') center no-repeat;
}
#J_fixed_top .ative .severicon {
  background: url('../../img/severhover.png') center no-repeat;
}
#J_fixed_top .ative .topicon {
  background: url('../../img/tophover.png') center no-repeat;
}
#J_fixed_top .ative .info-box {
  display: block;
}
#J_fixed_top ul li {
  float: left;
  width: 75px;
  line-height: 75px;
  background: #fff;
  border-bottom: #ddd 1px solid;
  position: relative;
}
#J_fixed_top ul li.ative {
  background: #02bb56;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
.clear:before {
  clear: both;
}
.blockbox {
  display: block;
  background: #fff;
  overflow: hidden;
  padding: 10px;
}
/*****块面展示****/
.pagebox {
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.pagebox .pagebox-hd {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-bottom: #eee 1px solid;
}
.range {
  display: block;
  overflow: hidden;
}
.range .range-icon {
  width: 4px;
  float: left;
  height: 18px;
  background-color: #108ee9;
  -webkit-transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  transform: skewY(30deg);
  margin-right: 5px;
}
.range .user-info-title {
  float: left;
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}
.range .user-info-line {
  height: 1px;
  border-bottom: 1px solid rgba(222, 222, 222, 0.5);
  padding-top: 9px;
  margin-left: 75px;
}
.minloginmask {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.minloginbox {
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  background: #fff;
  z-index: 1000;
  width: 500px;
  height: 500px;
  border-radius: 4px;
}
.min-login-hd {
  background: #eee;
  height: 50px;
  line-height: 50px;
  border-bottom: #eee 1px solid;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 4px  4px 0 0;
  position: relative;
}
.min-login-hd #J-minlogin-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  cursor: pointer;
}
.min-login-bd .minlogin-ul {
  padding: 40px;
}
.min-login-bd .minlogin-ul ul li {
  margin-bottom: 20px;
}
.min-login-bd .minlogin-ul .minlogintxt {
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-bottom: 20px;
  border: #eee 1px solid;
  border-radius: 2px;
  text-indent: 2em;
}
.min-login-bd .minlogin-ul .minloginBtn {
  height: 50px;
  line-height: 50px;
  display: block;
  font-size: 16px;
}
.none {
  display: none !important;
}
.c-confirm {
  *position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.c-confirm .c-cfm-main {
  background-color: #fff;
  width: 270px;
  border-radius: 5px;
}
.c-confirm .c-cfm-tl {
  padding: 24px 10px;
  font-size: 18px;
  text-align: center;
  /**white-space: nowrap;**/
  overflow: hidden;
}
.c-confirm .c-cfm-cont {
  line-height: 1.2;
  padding: 0 30px 10px 30px;
}
.c-confirm .c-cfm-bton {
  border-top: 1px #e2e3d8 solid;
  display: -webkit-box;
  height: 44px;
  line-height: 44px;
  color: #037aff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.c-confirm .c-cfm-bton span:hover {
  background: #f8f8f8;
}
.c-confirm .c-cfm-cancel,
.c-confirm .c-cfm-sure {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
}
.c-confirm .c-cfm-sure {
  border-left: 1px #e2e3d8 solid;
}
