.rt-wrap {
  width: 100%;
}
.rt-wrap a {
  cursor: pointer;
}
.rt-wrap .w1200 {
  width: 1200px;
  margin: 0 auto;
}
.rt-wrap .rt-listall {
  border-bottom: 1px solid #E7E7E7;
}
.rt-wrap .rt-list {
  width: 100%;
}
.rt-wrap .rt-breadcrumb {
  font-size: 14px;
  line-height: 45px;
}
.rt-wrap .rt-breadcrumb .rt-bc-text {
  display: inline-block;
}
.rt-wrap .rt-breadcrumb .ivu-breadcrumb {
  color: #999;
  font-size: 14px;
  display: inline-block;
}
.rt-wrap .rt-breadcrumb .ivu-breadcrumb a {
  color: #495060;
  transition: color 0.2s ease-in-out;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.rt-wrap .rt-breadcrumb .ivu-breadcrumb .ivu-breadcrumb-item-separator {
  margin: 0 8px;
  color: #dddee1;
}
.rt-wrap .rt-l-style {
  width: 100%;
  border: 1px solid #E7E7E7;
  border-bottom: none;
  background: #F7F7F7;
}
.rt-wrap .rt-l-style .selectname {
  display: inline-block;
  width: 70PX;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #F7F7F7;
}
.rt-wrap .rt-l-style .selecttype {
  background-color: #6F86D6;
  color: white;
}
.rt-wrap .rt-l-style .ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  width: 1000px;
  overflow: hidden;
  line-height: 48px;
  padding: 10px 0;
}
.rt-wrap .rt-l-style .ul li {
  float: left;
}
.rt-wrap .rt-l-style .ul li a {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 2px;
  max-width: 80px;
  overflow: hidden;
  float: left;
  max-height: 25px;
  line-height: 25px;
  word-break: break-all;
}
.rt-wrap .rt-l-brand {
  width: 100%;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail {
  width: 1130px;
  float: right;
  background: #fff;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .drap-down {
  float: right;
  padding-right: 15px;
  cursor: pointer;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .drap-down i {
  background: url("../../img/dic.png") center no-repeat;
  width: 20px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .drap-down span {
  display: inline-block;
  padding: 10px;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .sel-display {
  display: none;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .sel-display ul li {
  float: left;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .sel-display ul li a {
  height: 24px;
  line-height: 46px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: #495056;
}
.rt-wrap .rt-l-brand .rt-l-brand-detail .sel-display ul li a:hover {
  color: #6F86D6;
}
.rt-wrap .rt-l-model .rt-l-model-detail {
  width: 1130px;
  float: right;
  background: #fff;
}
.rt-wrap .rt-l-model-category {
  width: 1130px;
  float: right;
  background: #fff;
}
.rt-wrap .list-select-wrap {
  width: 100%;
  border: 1px solid #E8E8E8;
  margin: 30px auto;
}
.rt-wrap .rt-l-select {
  float: left;
}
.rt-wrap .rt-l-select ul li {
  float: left;
}
.rt-wrap .rt-l-select a {
  height: 24px;
  line-height: 46px;
  padding: 11px 20px;
  font-size: 18px;
  color: #495056;
}
.rt-wrap .rt-l-select a.active {
  border-bottom: 2px solid #6F86D6;
  color: #6F86D6;
}
.rt-wrap .list-sort {
  float: right;
}
.rt-wrap .list-sort a {
  float: right;
  margin-top: 11px;
  margin-right: 15px;
}
.rt-wrap .list-sort a:hover {
  color: #6F86D6;
}
.rt-wrap .list-sort a.active {
  color: #6F86D6;
}
.rt-wrap .carlist li {
  float: left;
  margin-bottom: 10px;
}
.rt-wrap .carlist li .cardetail {
  display: block;
  padding: 9px 5px;
  border: 1px solid transparent;
  position: relative;
}
.rt-wrap .carlist li .cardetail:hover {
  border: 1px solid #e6e6e6;
  color: #495056;
  text-decoration: none;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
.rt-wrap .carlist li .cardetail .item-li {
  width: 288px;
  height: 192px;
}
.rt-wrap .carlist li .cardetail img {
  width: 100%;
  height: 100%;
}
.rt-wrap .carlist li .cardetail h2 {
  line-height: 30px;
}
.rt-wrap .list-page {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
