.productbox {
  float: left;
  width: 100%;
}
.pagelist {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}
.pagelist .page-hd h2 {
  font-size: 24px;
  color: #333;
  padding: 20px 0;
}
.pagelist .page-bd ul.carditem {
  float: left;
  width: 1280px;
}
.pagelist .page-bd ul.carditem li {
  width: 280px;
  height: 300px;
  border: #EEEEEE 1px solid;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
.pagelist .page-bd ul.carditem li .cardmodel {
  background-size: 240px auto;
  position: relative;
}
.pagelist .page-bd ul.carditem li .cardmodel .cardimg {
  width: 280px;
  height: 240px;
}
.pagelist .page-bd ul.carditem li .cardmodel p {
  font-size: 16px;
  padding: 10px 0;
}
.pagelist .page-bd ul.carditem li:hover,
.pagelist .page-bd ul.carditem li.ative {
  border: #EEEEEE 1px solid;
  background: #EEEEEE;
}
.pagelist .page-bd ul.cardmodelitem {
  width: 1280px;
}
.pagelist .page-bd ul.cardmodelitem li {
  width: 220px;
  height: 135px;
  border: #eee 1px solid;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.pagelist .page-bd ul.cardmodelitem li .cardmodel {
  background: url("../../img/card.png") center no-repeat;
  background-size: 200px auto;
  width: 220px;
  height: 135px;
}
.pagelist .page-bd ul.cardmodelitem li .cardmodel p {
  font-size: 16px;
  padding: 10px 0;
}
.pagelist .page-bd ul.cardmodelitem li:hover,
.pagelist .page-bd ul.cardmodelitem li.ative {
  border: #EEEEEE 1px solid;
  background: #EEEEEE;
}
.pagelist .page-bd .user-box li {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.pagelist .page-bd .user-box li label {
  width: 100px;
  display: inline-block;
  float: left;
}
#J_opencitybox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#J_opencitybox .citypagebox {
  background: #fff;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 500px;
  margin-top: -200px;
  margin-left: -250px;
  border-radius: 5px;
}
#J_citylist li {
  float: left;
  padding: 10px 15px;
}
#J_citylist .ative {
  background: #06c;
  border-radius: 3px;
}
#J_citylist .ative a {
  color: #fff;
}
